<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Example Firebase</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/user">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let user of users" >
      <ion-label>
        {{ user.name }}
      </ion-label>

      <ion-button title="Edit" [routerLink]="['/user', user.id]">
        <ion-icon slot="icon-only" name="create" ></ion-icon>
      </ion-button>

      <ion-button color="danger" title="Delete" (click)="deleteUser(user.id)">
        <ion-icon slot="icon-only" name="trash" ></ion-icon>
      </ion-button>

    </ion-item>
  </ion-list>
 
</ion-content>
